<div class="dashboard">
    <!-- Header Section -->
    <header class="header">
      <div class="logo">
        <a href="#"><img src="https://th.bing.com/th/id/OIP.LxvvA1r0a__zXMA3HTgkhgHaGm?w=197&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Logo"></a>
      </div>
      <div class="header-buttons">
        <!-- <button class="btn btn-primary" >Add Customer</button> -->
        <button class="btn btn-primary" routerLink="/new-customer">Add Customer</button>
  
        <button class="btn btn-primary" routerLink="/add-item">Add Item</button>
        <button class="btn btn-success" routerLink="/create-invoice">Create Invoice</button>
      </div>
    </header>
</div>  
