<div class="container mt-5">
    <h2>Add New Item</h2>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" formControlName="itemName">
        <div *ngIf="itemForm.get('prodName')?.invalid && itemForm.get('prodName')?.touched" class="text-danger">
          Item name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="itemPrice">Item Price</label>
        <input type="number" class="form-control" id="itemPrice" formControlName="itemPrice">
        <div *ngIf="itemForm.get('itemPrice')?.invalid && itemForm.get('itemPrice')?.touched" class="text-danger">
          Item price is required and must be a valid number.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid">Add Item</button>
    </form>
  </div>
