<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Invoice Dashboard</h2>
  </div>
  <div class="invoice-list">
    <table class="invoice-table">
      <thead>
         <tr>
          <th>Serial Number</th>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Invoice Number</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      
       <!-- <tbody>
        <tr *ngFor="let customer of customers; let i = index">
          <td>{{ i + 1 }}</td>
          <td>Name: {{ customer.name }}</td>
          <td>Email: {{ customer.email }}</td>
          
          
            
            <td *ngIf="invoices && invoices.length > 0 ; let invoiceIndex = index">{{invoices[0].invoiceNumber }}</td>
            <td *ngIf="invoices && invoices.length > 0 ; let invoiceIndex = index">{{invoices[0].invoiceDate }}</td>
            
         
          
          <td>
            <button class="action-button edit-button mx-3 p-2">Edit</button><br><br>
            
<button class="action-button delete-button mx-3 p-2" (click)="deleteInvoice(invoiceIndex)">Delete</button>

          </td>
        </tr>
        
      </tbody>
       -->
       <tr *ngFor="let customer of customers; let i = index">
        <td>{{ i + 1 }}</td>
        <td>Name: {{ customer.name }}</td>
        <td>Email: {{ customer.email }}</td>
      
        <ng-container *ngIf="invoices && invoices.length > 0">
          <td>{{ invoices[0].invoiceNumber }}</td>
          <td>{{ invoices[0].invoiceDate }}</td>
        </ng-container>
      
        <td>
          <button class="action-button edit-button mx-3 p-2">Edit</button><br><br>
          <button class="action-button delete-button mx-3 p-2" (click)="deleteInvoice(invoices, 0)">Delete</button>
        </td>
      </tr>
      
    </table>
  </div> 
</div> 
 